html {
  position: fixed;
  height: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: Lato, Helvetica, sans-serif;
  font-size: calc(0.5vw + 0.7em);
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  color: #333333;
}

h1 {
  font-size: calc(1vw + 2em);
  padding-bottom: 10vh;
  white-space: nowrap;
  color: #264B8C;
}

a {
  text-decoration: none;
  color: #9AE0FF;
}

span.highlighted {
  background-color: rgba(32,26,22,.4);
  color: #FFFFFF;
  line-height: 32px;
  padding: 4px 8px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.page {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.page--intro {
  /*background-color: rgba(32,26,22,.4); */
}

.page--bitgigs {
  background: url("../assets/bitgigs.jpg") no-repeat center bottom;
  background-size: contain;
}

.page--ecobudget {
  background: url("../assets/ecobudget.jpg") no-repeat center bottom;
  background-size: contain;
}

.page--crisys {
  background: url("../assets/crisys.jpg") no-repeat center bottom;
  background-size: contain;
}

.page--spf {
  background: url("../assets/spf.jpg") no-repeat center bottom;
  background-size: contain;
}

.page__wrapper {
  width: calc(60% + 100px);
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 48px 0;

}

.page__wrapper > :first-child {
  align-items: flex-start;
  text-align: left;
}

.page__wrapper > :last-child {
  align-items: flex-end;
  text-align: right;
}

.page__column {
  display: flex;
  flex-direction: column;
}

.page__column--middle {
  justify-content: center;
}

.page__column--bottom {
  justify-content: flex-end;
}

.page__column--top {
  justify-content: flex-start;
}

.page__header {
  height: 100%;
}

.page__header > span {
  margin: 16px;
  white-space: nowrap;
}

.page__content {
  width: calc(30vw + 100px);
  max-width: 100%;
}

.page__content > * {
  margin: 4vh 0;
}

.page__content > img {
  width: calc(15vw + 50px);
  height: calc(15vw + 50px);
}